OpenWrt {{ version }} repository for {{ owrt_package }}
========

Select the architecture that matches your device (use `opkg pring-architecture` to get the architecture):

{% for arch in arches -%}
 * [{{ arch }}]({{ arch }}/)
{% endfor -%}
